bottle-websocket
contextlib2==0.6.0.post1
SpeechRecognition
gunicorn
Cython
gevent-websocket
Flask
Flask-SocketIO
Flask-Sockets
Jinja2
eyed3
numpy
simplejson
librosa
lomond
module
hmmlearn
tqdm
numba
matplotlib
eventlet
pydub
pandas
Pillow
requests
requests-oauthlib
requests-toolbelt
scikit-learn
scipy
seaborn
snowballstemmer
socketIO-client
vaderSentiment
validators
virtualenv
webencodings
websocket-client
websockets
webrtcvad
Werkzeug
wget